/* =========================================================
   MainLayout – Layout pagina
   ========================================================= */

.page {
    position: relative;
    display: flex;
    flex-direction: column; /* mobile first */
    min-height: 100vh;
}

/* contenitore sidebar */
.sidebar {
    background-image: linear-gradient( 180deg, rgb(5, 39, 103) 0%, #3a0647 70% );
}

/* contenuto principale */
main {
    flex: 1;
    background: #ffffff;
    min-width: 0;
}

/* =========================================================
   DESKTOP / TABLET
   ========================================================= */
@media (min-width: 641px) {

    .page {
        flex-direction: row; /* ✅ sidebar a sinistra */
    }

    .sidebar {
        width: 260px;
        height: 100vh;
        position: sticky;
        top: 0;
        flex-shrink: 0;
    }

    main {
        flex: 1;
    }
}
