@page "/login"
@inject HttpClient Http
@inject NavigationManager Nav


@switch (Status)
{
    case StatusEnum.LOADING:        
        <p>Caricamento utenti...</p>
        break;

    case StatusEnum.INSERT:
        <h3>Accesso</h3>

        <div class="card p-3 mb-3" style="max-width: 350px;">
            <input class="form-control mb-2" placeholder="Username" @bind="LoginUser" />
            <input class="form-control mb-3" type="password" placeholder="Password" @bind="LoginPass" />
            <button class="btn btn-primary w-100" @onclick="VerifyLogin">Entra</button>
        </div>
        break;

    case StatusEnum.REINSERT:
        <div class="alert alert-danger">@Error</div>      
        
        <h3>Accesso</h3>

        <div class="card p-3 mb-3" style="max-width: 350px;">
            <input class="form-control mb-2" placeholder="Username" @bind="LoginUser" />
            <input class="form-control mb-3" type="password" placeholder="Password" @bind="LoginPass" />
            <button class="btn btn-primary w-100" @onclick="VerifyLogin">Entra</button>
        </div>
        break;

    case StatusEnum.ADMIN:
        <h2>Benvenuto Amministratore @loggedUser</h2>

        break;
 
    case StatusEnum.USER:
        <h2>Benvenuto User @loggedUser</h2>
        break;

    case StatusEnum.ERROR:
        <div class="alert alert-danger">@Status - @Error</div>
        break;

    default:
        break;
}




@code {
    enum StatusEnum { LOADING, INSERT, REINSERT, ADMIN, USER, ERROR };

    private bool Loaded = false;
    private List<UserRecord>? Users;

    // variabili collegate al form HTML
    private string? LoginUser;
    private string? LoginPass;
    private string? Error;
    private string? loggedRole;
    private string? loggedUser;
    private StatusEnum Status = StatusEnum.LOADING;


    /// <summary>
    /// ala fine del metodo lifecycle viene rigenerato un rendering della pagina
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {        
        Users = await Global.GetUsers();

        if (Users is null)  // se non ci sono users nel file json
        {
            Error = "Impossibile leggere utenti.";
            Status = StatusEnum.ERROR;
            return;
        }


        if (!string.IsNullOrEmpty(Global.Error))
        { 
            Error = Global.Error; 
            Status = StatusEnum.ERROR;
            return;
        }

        Status = StatusEnum.INSERT;
    }


    private async Task VerifyLogin()
    {

        if (string.IsNullOrEmpty(LoginUser) || string.IsNullOrEmpty(LoginPass))   // se le credenziali non sono state inserite correttamente
        {
            Error = "Inserisci username e password.";
            Status = StatusEnum.REINSERT;
            return;
        }

        var hash = Global.Sha256(LoginPass);

        var match = Users.FirstOrDefault(u => u.user == LoginUser && u.hash == hash);

        if (match is null)  // se le credenziali non corrispondono a nessun user nel file json
        {
            Error = "Credenziali non valide.";
            Status = StatusEnum.REINSERT;
            return;
        }

        await Global.LoggedUser(match.user);
        await Global.LoggedRole(match.role);

        loggedRole = match.role;
        loggedUser = match.user;

        if (match.role == "admin") { Nav.NavigateTo("/admin"); Status = StatusEnum.ADMIN; }
        else Status = StatusEnum.USER;
    }

    
}

